* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #e7e7e9;
  background-image: linear-gradient(
      30deg,
      #0b0b0d 12%,
      transparent 12.5%,
      transparent 87%,
      #0b0b0d 87.5%,
      #0b0b0d
    ),
    linear-gradient(
      150deg,
      #0b0b0d 12%,
      transparent 12.5%,
      transparent 87%,
      #0b0b0d 87.5%,
      #0b0b0d
    ),
    linear-gradient(
      30deg,
      #0b0b0d 12%,
      transparent 12.5%,
      transparent 87%,
      #0b0b0d 87.5%,
      #0b0b0d
    ),
    linear-gradient(
      150deg,
      #0b0b0d 12%,
      transparent 12.5%,
      transparent 87%,
      #0b0b0d 87.5%,
      #0b0b0d
    ),
    linear-gradient(
      60deg,
      #0b0b0d77 25%,
      transparent 25.5%,
      transparent 75%,
      #0b0b0d77 75%,
      #0b0b0d77
    ),
    linear-gradient(
      60deg,
      #0b0b0d77 25%,
      transparent 25.5%,
      transparent 75%,
      #0b0b0d77 75%,
      #0b0b0d77
    );
  background-size: 46px 81px;
  background-position: 0 0, 0 0, 23px 40px, 23px 40px, 0 0, 23px 40px;
  /* background-image: url("../image/s21ultra5g.jpg");
  background-size: cover; */
  background-attachment: fixed;
}

#container {
  margin: 0 auto;
  max-width: 1124px;
  min-height: 100vh;
  background-color: #0077b6;

  position: relative;
}
#all-bg {
  position: fixed;

  background-color: #18191ac7;
  opacity: 0.6;
  top: 0;
  width: 100%;
  height: 100%;
}
/*********************** content ***********************/

.content {
  padding: 8px;
  display: flex;
}
/*********************** header ***********************/

header {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  text-align: center;
}
/*********************** aside ***********************/
aside {
  padding: 0;
  margin: 0;
  width: 300px;
  background-color: rgb(128, 28, 148);
}
.category {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category li {
  text-align: center;
  width: 100%;
  margin: 5px 0px;
}

.category li a {
  border-bottom: 1px solid #0077b6;
  width: 100%;
  height: 100%;
  padding: 5px 0px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  user-select: none;
}

.category li a:hover {
  background-color: #0077b6;
}

/*********************** nav ***********************/

nav {
  background-color: #03045e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.icon-holder {
  padding-left: 33px;
}

nav img {
  width: 50px;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
}

.outline {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
  transition: all 0.2s ease-out;
}
.outline:hover {
  border-bottom: 5px solid #caf0f8;
}
.outline:active {
  color: #00b4d8;
}

.icon-holder {
  perspective: 70px;
}
.icon-holder:hover {
  transform: rotate(45deg);
  cursor: no-drop;
}
#icon {
  /* transform: rotateX(90deg); */
  animation: shade 5s ease-in-out infinite;
}

@keyframes shade {
  0% {
    transform: rotateY(180deg);
  }
  25% {
    transform: rotateY(-180deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

/*********************** section ***********************/

.itemsContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.row {
  display: flex;
  width: 100%;

  width: 100%;
}
.item {
  width: 300px;
  background-color: #202020;
  border: 1px solid white;
}

h5 {
  color: white;
  text-shadow: 1px 1px 1px #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 1;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.img {
  width: 80%;
  border-radius: 10px;
  border: 3px solid white;
  opacity: 0.9;
  transition: all 0.3s linear;
}
.img-container:hover .img {
  transform: scale(1.1);
  opacity: 1;
  z-index: 98;
}

.img-container:active .img {
  opacity: 0.8;
}

/*********************** footer ***********************/
footer {
  background-color: #444cf7;
  color: #e5e5f7;
  text-align: center;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  position: absolute;
  width: 100%;
  bottom: calc(100% -100%);
}
.outlineActive {
  border-bottom: 5px solid #caf0f8;
}

/*****************************/
.popup {
  width: 100%;
  height: 44px;
  background-color: rgb(255, 213, 213);
  color: red;
  font-weight: bold;
  line-height: 44px;
  position: absolute;
  top: -44px;
  text-align: center;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 0.2s linear;
}

.add {
  transform: translateY(44px);
  border-radius: 0px 0px 10px 10px;
  border: 2px solid black;
  border-color: black red red red;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 99;
}
.category {
  position: sticky;
  top: 80px;
}
