* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #e7e7e9;

  background-image: linear-gradient(
      30deg,
      #0b0b0d 12%,
      transparent 12.5%,
      transparent 87%,
      #0b0b0d 87.5%,
      #0b0b0d
    ),
    linear-gradient(
      150deg,
      #0b0b0d 12%,
      transparent 12.5%,
      transparent 87%,
      #0b0b0d 87.5%,
      #0b0b0d
    ),
    linear-gradient(
      30deg,
      #0b0b0d 12%,
      transparent 12.5%,
      transparent 87%,
      #0b0b0d 87.5%,
      #0b0b0d
    ),
    linear-gradient(
      150deg,
      #0b0b0d 12%,
      transparent 12.5%,
      transparent 87%,
      #0b0b0d 87.5%,
      #0b0b0d
    ),
    linear-gradient(
      60deg,
      #0b0b0d77 25%,
      transparent 25.5%,
      transparent 75%,
      #0b0b0d77 75%,
      #0b0b0d77
    ),
    linear-gradient(
      60deg,
      #0b0b0d77 25%,
      transparent 25.5%,
      transparent 75%,
      #0b0b0d77 75%,
      #0b0b0d77
    );
  background-size: 46px 81px;
  background-position: 0 0, 0 0, 23px 40px, 23px 40px, 0 0, 23px 40px;
}

#container {
  margin: 0 auto;
  width: 1024px;
  min-height: 100vh;
  background-color: #0077b6;
  position: relative;
}

/*********************** header ***********************/

header {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  text-align: center;
}

/*********************** nav ***********************/

nav {
  background-color: #03045e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.icon-holder {
  padding-left: 33px;
}

nav img {
  width: 50px;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
}

.outline {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
  transition: all 0.2s ease-out;
}
.outline:hover {
  border-bottom: 5px solid #caf0f8;
}
.outline:active {
  color: #00b4d8;
}

/*********************** section ***********************/

/*********************** footer ***********************/
footer {
  background-color: #444cf7;
  color: #e5e5f7;
  text-align: center;
  font-weight: bold;

  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
}
